blinker==1.4
bokeh==3.2.1
brotlipy==0.7.0
bs4==0.0.1
compress-pickle==2.1.0
et-xmlfile==1.1.0
fonttools==4.25.0
hydralit-components==1.0.10
lxml==4.9.3
openpyxl==3.0.10
pandas==1.5.3
Pillow==9.4.0
protobuf==3.20.3
pyarrow==11.0.0
pydeck==0.8.0
PyYAML==6.0.1
streamlit==1.25.0
streamlit-option-menu==0.3.6
watchdog==3.0.0
xyzservices==2023.7.0
matplotlib==3.7.2
xlsxwriter==3.1.2
